<div>
{{#if recipes.length}}

{{#each recipes as |recipe|}}

<div class="recipe col-md-5">
    <p>
        {{recipe.id}}.{{recipe.title}}
    </p>
</div>
    
{{/each}}

{{else}}
<p class="align-text-center">No current recipes, get a new recipe!</p>

{{/if}}
</div>




