<div>
  <h2>Whats for dinner?</h2>
</div>
      <form class="recipe-select">
        <h3>Recipes to add:</h3>
        <label for="dish1"><input type="checkbox" class="checks" id="dish1" name="dish" value="1">Mushroom Risotto</label><br>
        <label for="dish1"><input type="checkbox" class="checks" id="dish2" name="dish" value="2">10oz NY Strip with mashed potato and asparagus</label><br>
        <label for="dish1"><input type="checkbox" class="checks" id="dish3" name="dish" value="3">Home style Veal Lasagna</label><br>
        <label for="dish1"><input type="checkbox" class="checks" id="dish4" name="dish" value="4">Ricotta Veal Meatballs with grilled bread</label><br>
        <label for="dish1"><input type="checkbox" class="checks" id="dish5" name="dish" value="5">Ricotta Gnocchi with Mushrooms and Arugula</label><br>
        <label for="dish1"><input type="checkbox" class="checks" id="dish6" name="dish" value="6">Grilled Octopus with N'Duja sausage potatos arugula and a yellow pepper coulis</label><br>
        <label for="dish1"><input type="checkbox" class="checks" id="dish7" name="dish" value="7">Red Wine salt roast Beets with Ricotta cheese and arugula</label><br>
        <input class="btn btn-sm btn-danger" type="submit" value="Create Grocery List" id="recipe-select">
      </form>
</div>
<script src="/javascript/ingredients.js"></script>

{{!-- create get route to bring to this page --}}
