{{!-- <div>
  <h2>Whats for dinner?</h2>
</div>
      <form class="recipe-select">
        <h3>Recipes to add:</h3>
        <label for="dish1"><input type="checkbox" class="checks" id="dish1" name="dish" value="1">Mushroom Risotto</label><br>
        <label for="dish1"><input type="checkbox" class="checks" id="dish2" name="dish" value="2">10oz NY Strip with mashed potato and asparagus</label><br>
        <label for="dish1"><input type="checkbox" class="checks" id="dish3" name="dish" value="3">Home style Veal Lasagna</label><br>
        <label for="dish1"><input type="checkbox" class="checks" id="dish4" name="dish" value="4">Ricotta Veal Meatballs with grilled bread</label><br>
        <label for="dish1"><input type="checkbox" class="checks" id="dish5" name="dish" value="5">Ricotta Gnocchi with Mushrooms and Arugula</label><br>
        <label for="dish1"><input type="checkbox" class="checks" id="dish6" name="dish" value="6">Grilled Octopus with N'Duja sausage potatos arugula and a yellow pepper coulis</label><br>
        <label for="dish1"><input type="checkbox" class="checks" id="dish7" name="dish" value="7">Red Wine salt roast Beets with Ricotta cheese and arugula</label><br>
        <input class="btn btn-sm btn-danger" type="submit" value="Create Grocery List" id="recipe-select">
      </form>
</div>
<script src="/javascript/ingredients.js"></script> --}}

{{!-- create get route to bring to this page --}}

        <section class="column">
            <h1 class="subtitle">Whats for dinner?</h1>
            <form class="recipe-select">
                <div class="columns is-multiline is-flex-wrap-wrap">
                    <div class="column is-4">
                        <article>
                        <figure class="image is-5by3">
                            <img src="https://hips.hearstapps.com/delish/assets/17/35/1504128527-delish-mushroom-risotto.jpg" alt="Mushroom Risotto" />
                        </figure>
                        <label class="tag is-rounded" for="dish1"><input type="checkbox" class="checks" id="dish1" name="dish" value="1">Mushroom Risotto</label>
                        </article>
                    </div>
                    <div class="column is-4">
                        <article>
                        <figure class="image is-5by3">
                            <img src="https://www.cityline.tv/wp-content/uploads/2017/01/Balsamic-reduction-for-portabella-or-chipotle-steak.jpg" alt="10oz NY Strip with mashed potato and asparagus"/>
                        </figure>
                        <label class="tag is-rounded" for="dish1"><input type="checkbox" class="checks" id="dish2" name="dish" value="2">10oz NY Strip with mashed potato and asparagus</label>
                        </article>
                    </div>
                    <div class="column is-4">
                        <article>
                        <figure class="image is-5by3">
                            <img src="https://thestayathomechef.com/wp-content/uploads/2017/08/Most-Amazing-Lasagna-2-e1574792735811.jpg" alt="Home style Veal Lasagna"/>
                        </figure>
                        <label class="tag is-rounded" for="dish1"><input type="checkbox" class="checks" id="dish3" name="dish" value="3">Home style Veal Lasagna</label>
                        </article>
                    </div>
                    <div class="column is-4">
                        <article>
                        <figure class="image is-5by3">
                            <img src="http://orsararecipes.net/wp-content/uploads/2019/09/spinach-and-ricotta-meatballs-1024x683.jpg" alt="Ricotta Veal Meatballs with grilled bread"/>
                        </figure>
                        <label class="tag is-rounded" for="dish1"><input type="checkbox" class="checks" id="dish4" name="dish" value="4">Ricotta Veal Meatballs with grilled bread</label>
                        </article>
                    </div>
                    <div class="column is-4">
                        <article>
                        <figure class="image is-5by3">
                            <img src="https://pinchofyum.com/wp-content/uploads/DeLallo-Gnocchi-for-blog-1.jpg" alt="Ricotta Gnocchi with Mushrooms and Arugula"/>
                        </figure>
                        <label class="tag is-rounded" for="dish1"><input type="checkbox" class="checks" id="dish5" name="dish" value="5">Ricotta Gnocchi with Mushrooms and Arugula</label>
                        </article>
                    </div>
                    <div class="column is-4">
                        <article>
                        <figure class="image is-5by3">
                            <img src="https://rasamalaysia.com/wp-content/uploads/2020/06/grilled-octopus-thumb-480x480.jpg" alt="Grilled Octopus with N'Duja sausage potatos arugula and a yellow pepper coulis"/>
                        </figure>
                        <label class="tag is-rounded" for="dish1"><input type="checkbox" class="checks" id="dish6" name="dish" value="6">Grilled Octopus with N'Duja sausage potatos arugula and a yellow pepper coulis</label>
                        </article>
                    </div>
                    <div class="column is-4">
                        <article>
                        <figure class="image is-5by3">
                            <img src="https://static01.nyt.com/images/2017/08/23/dining/23beet1/23beet1-articleLarge.jpg" alt="Red Wine salt roast Beets with Ricotta cheese and arugula"/>
                        </figure>
                        <label class="tag is-rounded" for="dish1"><input type="checkbox" class="checks" id="dish7" name="dish" value="7">Red Wine salt roast Beets with Ricotta cheese and arugula</label>
                        </article>
                    </div>
                </div>
                <input class="button is-primary is-rounded" type="submit" value="Create Grocery List" id="recipe-select">
            </form>
        </section>
        <script src="/javascript/ingredients.js"></script>