<div class="row">
  <div class="col-auto">
    <h2>Welcome, {{name}}!</h2>
  </div>
</div>

  {{#if recipes.length}}
  <div class="col-md-6 recipe-list">
    <h3>Current Recipes:</h3>

    {{#each recipes as |recipe|}}
    <div class="row mb-2">
      <div class="col-md-8">
        <h4><a href="/recipes/{{recipe.id}}">{{recipe.name}}</a></h4>
      </div>
      <form class="add-recipe-form">
        <h3>Recipes to add:</h3>
        <br><input type="checkbox" id="dish-1" name="dish-1" value="1">Mushroom Risotto</input></br>
        <br><input type="checkbox" id="dish-2" name="dish-2" value="2">10oz NY Strip with mashed potato and asparagus</input></br>
        <br><input type="checkbox" id="dish-3" name="dish-3" value="3">Home style Veal Lasagna</input></br>
        <br><input type="checkbox" id="dish-4" name="dish-4" value="4">Ricotta Veal Meatballs with grilled bread</input></br>
        <br><input type="checkbox" id="dish-5" name="dish-5" value="5">Ricotta Gnocchi with Mushrooms and Arugula</input></br>
        <br><input type="checkbox" id="dish-6" name="dish-6" value="6">Grilled Octopus with N'Duja sausage potatos arugula and a yellow pepper coulis</input></br>
        <br><input type="checkbox" id="dish-7" name="dish-7" value="7">Red Wine salt roast Beets with Ricotta cheese and arugula</input></br>
      </form>
      <div class="col-md-4">
        <button class="btn btn-sm btn-danger" id="recipe-select"data-id="{{recipe.id}}">ADD</button>
      </div>
    </div>
    {{/each}}
  </div>
  {{/if}}
</div>

<script src="/models/recipes.js"></script>