<div class="row">
  <div class="col-auto">
    <h2>Welcome!</h2>
  </div>
</div>

  {{#if recipes.length}}
  <div class="col-md-6 recipe-list">
    <h3>Current Recipes:</h3>
  <ul>
     {{#each recipes as |recipe|}}
         
        <li><h6><a href="http://localhost:3001/api/recipes/{{recipe.id}}">{{recipe.title}}</a></h4></li>
     
    {{/each}}
  </ul>
  {{/if}}
</div>
<script src="/models/recipes.js"></script>

