{{!-- <div class="row">
  <div class="col-md-6">
    <h2>Login</h2>

    <form class="form login-form">
      <div class="form-group">
        <label for="email-login">email:</label>
        <input class="form-input" type="text" id="email-login" />
      </div>
      <div class="form-group">
        <label for="password-login">password:</label>
        <input class="form-input" type="password" id="password-login" />
      </div>
      <div class="form-group">
        <button class="btn btn-primary" id="login" type="submit">login</button>
      </div>
    </form>
  </div>
  <div class="col-md-6">
    <h2>Signup</h2>

    <form class="form signup-form" >
      <div class="form-group">
        <label for="name-signup">name:</label>
        <input class="form-input" type="text" id="name-signup" />
      </div>
      <div class="form-group">
        <label for="email-signup">email:</label>
        <input class="form-input" type="text" id="email-signup" />
      </div>
      <div class="form-group">
        <label for="phone-signup">phone:</label>
        <input class="form-input" type="text" id="phone-signup" />
      </div>
      <div class="form-group">
        <label for="password-signup">password:</label>
        <input class="form-input" type="password" id="password-signup" />
      </div>
      <div class="form-group">
        <button id="sign-up" class="btn btn-primary" type="submit">signup</button>
      </div>
    </form>
  </div>
</div>

 <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>

<script src="/javascript/login.js"></script> --}}
<!--<script src="./javascript/registration.js"></script>-->



        <section class="columns is-centered">
            <div class= "has-text-centered">
              <div class="login">
                <form>
                    <h1 class="title">Login</h1>
                    <div class="field">
                        <div class="control">
                            <input id="email-login" class="input is-medium is-rounded" type="email" placeholder="hello@example.com" autocomplete="username" required />
                        </div>
                    </div>
                    <div class="field">
                        <div class="control">
                            <input id="password-login" class="input is-medium is-rounded" type="password" placeholder="**********" autocomplete="current-password" required />
                        </div>
                    </div>
                    <br />
                    <button id="login" class="button is-block is-fullwidth is-primary is-medium is-rounded" type="submit">
                        Login
                    </button>
                </form>
                <br />
                <br />
                <br />
                <form>
                    <h1 class="title">Sign Up</h1>
                    <div class="field">
                        <div class="control">
                            <input id="name-signup" class="input is-medium is-rounded" type="text" placeholder="Jane Doe" autocomplete="name" required />
                        </div>
                    </div>
                    <div class="field">
                        <div class="control">
                            <input id="email-signup" class="input is-medium is-rounded" type="email" placeholder="hello@example.com" autocomplete="username" required />
                        </div>
                    </div>
                    <div class="field">
                        <div class="control">
                            <input id="phone-signup" class="input is-medium is-rounded" type="text" placeholder="999-999-9999" autocomplete="phone number" required />
                        </div>
                    </div>
                    <div class="field">
                        <div class="control">
                            <input id="password-signup" class="input is-medium is-rounded" type="password" placeholder="**********" autocomplete="current-password" required />
                        </div>
                    </div>
                    <br />
                    <button id="sign-up" class="button is-block is-fullwidth is-primary is-medium is-rounded" type="submit">
                        Sign Up
                    </button>
                </form>
            </div>
        </section>