
   <div class="card mb-3">
   <div class="card-body">
    <h5 class="card-title">{{recipe.title}}</h5>
    <h6>Instructions:</h6>
    <p class="card-text"> {{recipe.instructions}}</p>
     <h6>Servings:</h6>
    <p class="card-text">{{recipe.servings}}</p>
  </div>
</div>

